
  body {
    background-color: rgba(229, 236, 241, 0.87);
  }
  
  div, form, input {
      margin: 10px;   
  } 

  .animal-btn, #add-animal {
      margin: 5px; 
      border-radius: 5px;
      color:black;
      background-color: lightblue
  }
  
  .gif {
    position: relative;
    display: inline-block;
    float: left;
    margin: 10px;
  }

  .animal {
    float: left;
    width: 100%;
  }